body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #a7cbee;
}



.header {
    background:#495057;
    color: #551616;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.profilbild {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.sidebar {
    background: #495057;
    color: #ffffff;
    width: 230px;
    height: 100vh;
    position: fixed;
    top: px; /* Abstand unter dem Header */
    padding: 20px;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);

}

.sidebar h2 {
    margin-top: 0;
    font-size: 30px;
    color: #ffffff;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 4px;
    transition: 0.3s;

}

.img2{
font-size: large 200px;
    border-radius: 45px;
}  


.img2 {

 

}



.add-user {
border-radius: 45px;
}

.sidebar ul li a:hover {
    background: #6c757d;
}

.table-1 {
    width: 100%; /* Die Breite des Containers */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Schatten für die Tabelle */
    background-color: #fff; /* Hintergrundfarbe */
    border-radius: 8px; /* Abgerundete Ecken */
    padding: 200px;
}


.main-content {
    margin-left: 300px; /* Abstand zur Sidebar */
    padding: 60px 400px; /* Abstand für Header */
    color: #343a40;
}

.main-content h1 {
    font-size: 35px;
}

.main-content p {
    font-size: 30px;
}
.add-user {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* Vertikale Anordnung */
    gap: 15px; /* Abstand zwischen Feldern */
    width: 300px; /* Feste Breite für die Box */
    margin-right: auto; /* Verschiebt die Box nach links */
}
th, td {
    border: 1px solid #000;
    padding: 30px; /* Größeres Padding für Zellen */
    font-size: 1.5em; /* Größere Schriftgröße */
}
